* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  /* font-family: "Quicksand", "Roboto", "Helvetica Neue", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
